body {
  margin: 0;
  font-family: "Product Sans", "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.df {
  display: flex;
}
.fdc {
  flex-direction: column;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.sb {
  font-weight: 600;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}

$primary-color: #ffffff;
$secondary-color: #3c4043;
$trans-dark: rgba(0, 0, 0, 0.549);
