body {
  margin: 0;
  font-family: "Product Sans", "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$primary-color: #ffffff;
$secondary-color: #3c4043;
$trans-dark: rgba(0, 0, 0, 0.549);
